<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>EduRefuerzo - Lista de Temas</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h2>Gestión de Temas Académicos (RF-5)</h2>
        
        <a th:href="@{/tema/nuevo}">+ Agregar Nuevo Tema</a>
        <br/><br/>
        
        <table border="1">
            <thead>
                <tr>
                    <th>Tema</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tema : ${temas}">
                    <td th:text="${tema.nombre}"></td>
                    <td th:text="${tema.descripcion}"></td>
                    <td th:text="${tema.activo ? 'Activo' : 'Inactivo'}"></td>
                    <td>
                        <a th:href="@{/tema/modificar/}+${tema.idTema}">Editar</a> | 
                        <a th:href="@{/tema/eliminar/}+${tema.idTema}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <a th:href="@{/}">Volver al Inicio</a>
    </body>
</html>