<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Mantenimiento de Temas</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h2>Datos del Tema</h2>
        <form th:action="@{/tema/guardar}" th:object="${tema}" method="POST">
            <input type="hidden" name="idTema" th:field="*{idTema}"/>
            
            <label>Materia a la que pertenece:</label><br/>
            <select th:field="*{idMateria}" required>
                <option th:each="m : ${materias}" 
                        th:value="${m.idMateria}" 
                        th:text="${m.nombre}"></option>
            </select><br/><br/>
            
            <label>Nombre del Tema:</label><br/>
            <input type="text" th:field="*{nombre}" required/><br/><br/>
            
            <label>Descripción detallada:</label><br/>
            <textarea th:field="*{descripcion}"></textarea><br/><br/>
            
            <label>Estado del tema:</label>
            <input type="checkbox" th:field="*{activo}"/><br/><br/>
            
            <button type="submit">Guardar Tema</button>
            <a th:href="@{/tema/listado}">Cancelar</a>
        </form>
    </body>
</html>